<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueStudio</title>
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <div id="app">
      <header class="NavBar f">
        <div class="NavBar-wrapper f f-1 j-start a-center">
          <div class="NavBar-header">VueStudio</div>
          <div class="NavBar-slash">/</div>
          <div class="text-nowrap">Vue Guide</div>
          <div class="NavBar-slash">/</div>
          <div class="NavBar-picker js-picker" @click.self="togglePicker">
            {{route}}
            <div v-if="pickerShown" class="NavBar-picker-content">
              <a class="NavBar-picker-item" @click="show('Introduction')" href="#introduction">Introduction</a>
              <a class="NavBar-picker-item" @click="show('Installation')" href="#installation">Installation</a>
            </div>
          </div>
        </div>
      </header>
      <div v-if="pickerShown" class="Picker-mobile">
        <a class="NavBar-picker-item" @click="show('Introduction')" href="#introduction">Introduction</a>
        <a class="NavBar-picker-item" @click="show('Installation')" href="#installation">Installation</a>
      </div>
      <main v-html="content" class="Main"></main>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>

</html>